body{
  margin: 0;
  padding: 0;
}

.container{
  position: absolute;;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: rgba(255, 17, 255, 0.89);
  padding: 10px 20px;
}
.container h1{
  text-align: center;
}
.input-group label{
  display: inline-block;
  width: 40%;
  text-align: right;
}
.input-group{
  width: 100%;
  margin: 9px 0;
}
.submit{
  text-align: center;
  margin-top: 20px;
}
#dateOfbirth{
  width: 169px;
}

